.contact-form {
	width: 300px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
}
.contact-form h1 {
	font-weight: normal;
	text-align: left;
	color: black;
	font-size: 24px;
	padding: 20px 0 0 0;
}
.contact-form input{
	-webkit-appearance: none;  
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}

.contact-form textarea{
	-webkit-appearance: none;  /* Override default CSS styles */
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
	height: 100px;
}

.contact-form input[type="submit"] {
	-webkit-appearance: none;  /* Override default CSS styles */
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	border-color: black;
	border: 1px solid #dddddd;
	cursor: pointer;
	font-weight: normal;
	color: black;
}

.contact-form input[type="submit"]:hover {
	border: 1px solid #da472d;
}