



.row{
	font-family: Tahoma, Geneva, sans-serif;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.row .name{
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
/*	background-color: white;*/
	color: gray;
	align-self: stretch;
	padding: 2px;
/*	text-align: center;*/
}


.disabled{
	background-color: black;
}

.column{
	margin-top: -16px;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	align-items: center;
	text-align: center;
	/*	jak chcesz mieć idealnie taki sam rozmiar to wywal wszystko i margin: 0 auto -> jak w formie,
		ale tak jest playfoul		
	*/
}


.column .switch button{
	width: 50px;
	height: 50px;
	background-color: rgba(184, 184, 184, 0.1);
	border-radius: 24px;
	border-color: black;
	border: 2px solid #dddddd;
	cursor: pointer;
	color: black;
}

.column .switch .disabled button{
	background-color: rgba(184, 184, 184, 0.1);
}

.column button[value = "1"]{
	border: 2px solid rgb(255,90,82);
}

.column button:hover:enabled {
	background-color: rgba(184, 184, 184, 0.2);
}

.column input[type= range] {
	-webkit-appearance: none;  
/*	outline: none; */
/*	opacity: 0.8; */
}

.column .brightness input[type= range] {
	height: 10px;
	border-radius: 5px;
	margin-top: 0px;
	background: rgb(221, 221, 221);
	border: 1px solid gray;
}

.column .brightness input[type= range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-border-radius: 10px;
	width: 20px; 
	height: 20px;
	background: black; 
	cursor: pointer; 
}


.column .colors button{
	margin: 1px;
	width: 50px;
	height: 50px;
	background-color: rgba(184, 184, 184);
	border-radius: 24px;
	border-color: black;
	border: 2px solid #dddddd;
	cursor: pointer;
	color: black;
}


.column .colors {
	margin: auto;
	margin-top: 10px;
/*	flex-wrap: wrap-reverse;*/
	max-width: 105px;
}

.column .colors button[value = "0"]{
	background-color: white;
}
.column .colors button[value = "1"]{
	background-color: red;
}
.column .colors button[value = "2"]{
	background-color: blue;
}
.column .colors button[value = "3"]{
	background-color: green;
}

.disabled{
	background-color: rgba(184, 184, 184, 0.1);
}

.enabled{
	background-color: white;
}

.sensor{
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	
}

.switch{
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid gray;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.brightness{
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 20px;
}

.rgb{
	display: flex;
	align-items: center;
	flex-direction: row;
	border-radius: 10px;
	border: 1px solid gray;
	padding-left: -10px;
/*	padding-right: 20px;*/
/*	*/
	
/*	border-radius: 6px;*/
/*	background-color: white;*/
}




@media (max-width:600px) {
	
	.row{
		flex-direction: column;
	}
	
	.column{
		margin-bottom: 20px;
	}
	
}